body {
	background: #303030;
	color: #ddd;
}
#menu {
	position: relative;
	height: 50px;
	display: flex;
	background: #404040;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.ui.button {
	margin-left: 20px;
	height: 100%;
}
#message {
	padding-top: 5px;
	text-align: center;
	height: 30px;
	font-size: 1.5rem;
}
#open {
	color: white;
	background: lime;
}
#close {
	color: white;
	background: red;
}
#low {
	color: white;
	background: darkred;
}
.item {
	width: 150px;
}
.ui.label {
	background: #404040;
	color: #ddd;
	padding: 17px 5px 0 20px;
}
#chart {
	margin-left: 25px;
	margin-top: 20px;
	background-color: #303030;
}
.date {
	margin-top: -5px;
	height: 55px;
	overflow: hidden;
	border: 1px solid grey;
	z-index: 20;	
}

.date:hover {
	height: 250px;
}
.text {
	color: #ddd;
}
#dropdown {
	background: grey;
	height: 500px;
	overflow: scroll;

}
 